body {
	background-color: #DEDEE0;
}

.pie {
	font-family: Verdana, Arial;
	font-size: 9px;
	color: #747476;

}

.menu {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 13px;
	color: #3F83E9;
	background-color: #FFFFFF;
	font-weight: bold;
}
.tab_normal {

	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 12px;
	color: #333333;
	background-color: #FFFFFF;
}
.menusup {

	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 12px;
	color: #999999;
	background-color: #FFFFFF;
	font-weight: bold;
}

.mn_sup_link{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #999999;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.mn_sup_link:visited{
	font-family:Verdana, Arial;
	font-size: 11px;
	color: #999999;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.mn_sup_link:hover{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #999999;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.mn_sup_link:active{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #999999;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}


.mn_mid_link{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #3F83E9;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.mn_mid_link:visited{
	font-family:Verdana, Arial;
	font-size: 11px;
	color: #3F83E9;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.mn_mid_link:hover{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #3F83E9;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.mn_mid_link:active{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #3F83E9;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}

.mn_mid_link2{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #000066;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.mn_mid_link2:visited{
	font-family:Verdana, Arial;
	font-size: 11px;
	color: #000066;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.mn_mid_link2:hover{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #000066;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.mn_mid_link2:active{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #000066;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}

.txt_negro_link{
	font-family: Verdana, Arial;
	font-size: 11px;
	color:#333333;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.txt_negro_link:visited{
	font-family:Verdana, Arial;
	font-size: 11px;
	color: #333333;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.txt_negro_link:hover{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #333333;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.txt_negro_link:active{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #333333;
	text-decoration:none;
	font-weight:lighter;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}
.vermas{
	font-family: Arial;
	font-size: 15px;
	color: #FFA200;
	text-decoration: underline;
	font-weight:lighter;
	font-stretch:extra-condensed;
}
.vermas:visited{
	font-family: Arial;
	font-size: 14px;
	color: #FFA200;
	text-decoration: underline;
	font-weight:lighter;
	font-stretch:extra-condensed;
}
.vermas:hover{
	font-family: Arial;
	font-size: 14px;
	color: #FFA200;
	text-decoration: none;
	font-weight:lighter;
	font-stretch:extra-condensed;
}
.vermas:active{
	font-family: Arial;
	font-size: 14px;
	color: #FFA200;
	text-decoration: underline;
	font-weight:lighter;
	font-stretch:extra-condensed;
}


.tab_contenido {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 11px;
	color: #333333;
	background-color: #FFFFFF;
	text-align: left;
}
.tab_tit_contenido {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 14px;
	color: #2A92C5;
	background-color: #FFFFFF;
	font-weight: normal;
	text-align: left;
}
.texto_contenido {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 12px;
	color: #2497C6;
	background-color: #FFFFFF;
}
.texto_contenidogris {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 12px;
	color: #666666;
	background-color: #FFFFFF;
}
.texto_contenidoceleste {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 12px;
	color: #2497C6;
	background-color: #FFFFFF;
}
.textocontgris10bold {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10px;
	color: #666666;
	background-color: #FFFFFF;
	font-weight: bold;
}
.textoboxgris {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 9px;
	color: #666666;
	background-color: #EFF0F1;
	font-weight: normal;
	border: 1px solid #666666;
}
.boxgris {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #BCC0C5;
	font-weight: bold;
	border: 1px solid #2790C0;
}
.boxceleste {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #2995C6;
	font-weight: bold;
	border: 1px solid #CCCCCC;
}
.textocontgris10 {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10px;
	color: #666666;
	background-color: #FFFFFF;
	font-weight: normal;
}
.linkpdf:link {
	color: #2C8CBE;
	text-decoration: none;
	font-weight: bold;
}
.linkpdf:visited {
	color: #2C8CBE;
	text-decoration: none;
	font-weight: bold;
}
.linkpdf:hover {
	color: #2C8CBE;
	text-decoration: none;
}
.linkpdf:active {
	color: #2C8CBE;
	text-decoration: none;
}
.textotabgris {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10px;
	color: #666666;
	background-color: #EFF0F1;
	font-weight: normal;
	border: 1px solid #2790C0;
}
.textotabnaranjo {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10px;
	color: #EC5F00;
	background-color: #FFFFFF;
	font-weight: normal;
}
.tabcelestetit {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #2995C6;
	font-weight: bold;
	border: 1px solid #CCCCCC;
}
.oferta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #2596c7;
	text-align: left;
}
.diasnoches {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #7f7f7f;
	text-align: left;
}
.salidas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2596c7;
	text-align: left;
}
.titulo_noticia {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0D0A4F;
	text-align: left;
}
.precio {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #999999;
	text-align: left;
}
.subtit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #999999;
	border-left: 2px;
	border-color: #FFFFFF;
}
.c_menu_left
{
	background-image: url(../IMG/Menu_r8_c4.gif);
	background-repeat: no-repeat;
	height: 29px;
	width: 7px;
	background-position: right bottom;
}
.c_menu_center
{
	background-image: url(../IMG/Menu_r8_c8.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 29px;
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 3px;
}

.celdaMenu
{
	text-align: left;
	background-color: #ffffff;
	background-image: url(../IMG/FondoCeldaMenu.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	font-size: 11px;
	color: #3366CC;
	border-top-color: #00b4ab;
	border-top-style: solid;
	border-top-width: 1px;	
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #00b4ab;
	border-bottom-color: #00b4ab;
	padding-left: 3px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #00b4ab;
	padding-top: 2px;
	padding-bottom: 2px;
}

.celdaMenuSGI
{
	text-align: left;
	background-color: #ffffff;
	background-image: url(../IMG/FondoCeldaMenu.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	font-size: 11px;
	color: #3366CC;
	border-top-style: solid;
	border-top-width: 1px;	
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-left: 3px;
	border-left-width: 1px;
	border-left-style: solid;
	padding-top: 2px;
	padding-bottom: 2px;
}

.celdaMenuform
{
	text-align: left;
	background-color: #FFFCBF;
	background-image: none;
	background-repeat: repeat-x;
	background-position: center bottom;
	font-size: 11px;
	color: #3366CC;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #00b4ab;
	border-bottom-color: #00b4ab;
	padding-left: 3px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #00b4ab;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-color: #00b4ab;
	border-top-style: solid;
	border-top-width: 1px;
}

.celda_Menu_activo
{
	background-image: none;
	font-size: 10px;
	color: #03746B;
	background-color: #FFFCBF;
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bolder;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #00b4ab;
	border-left-color: #00b4ab;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #00b4ab;
	padding-left: 3px;
}

.Menu_bottom_2
{
	background-image: url(../IMG/Menu_bottom_2.gif);
	background-position: center top;
	height: 6px;
	background-repeat: repeat-x;
}
.Menu_bottom_3
{
	background-image: url(../IMG/Menu_bottom_3.gif);
	background-position: left top;
	height: 6px;
	width: 7px;
	background-repeat: no-repeat;
}
.Menu_bottom_1
{
	background-image: url(../IMG/Menu_bottom_1.gif);
	background-position: right top;
	height: 6px;
	width: 7px;
	background-repeat: no-repeat;
}
.colorLink
{
	background-color: #FFFAB8;
	font-size: 11px;
	color: #515151;
	padding-left: 4px;
	padding-bottom: 8px;
	border: #2175d9;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	padding-right: 4px;
}

.txt_general
{
	font-size: 11px;
	color: #666666;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 0px;
}
.txt_fecha
{
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-align: right;
}
.linkmenu:link
{
	font-size: 11px;
	color: #045898;
	text-decoration: none;
	font-weight: normal;
}
.linkmenu:visited
{
	font-size: 11px;
	color: #3366CC;
	text-decoration: none;
	font-weight: normal;
}
.linkmenu:hover
{
	font-size: 11px;
	color: #00B4AB;
	text-decoration: none;
	font-weight: normal;
}

.linksubmenu:link
{
	font-size: 10px;
	color: #2175D9;
	text-decoration: none;
	font-weight: normal;
}
.linksubmenu:visited
{
	font-size: 10px;
	color: #5A77B4;
	text-decoration: none;
	font-weight: normal;
}
.linksubmenu:hover
{
	font-size: 10px;
	color: #00B4AB;
	font-weight: normal;
}

.celda_subMenu
{
	font-size: 10px;
	color: #3366CC;
	background-color: #FFFFE6;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	text-align: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #00b4ab;
}
ul {
	list-style-image: none;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
li {
	float: none;
	list-style-image: none;
	list-style-type: none;
	margin-left: 0px;
}
.invisible { 
	visibility:	hidden;
	position:	absolute;	
	overflow:	visible;
	z-index:	100;
	padding: 0;
	margin: 0;
	display:none;
}

.visible { 
	background-color: white ;
	padding:0px 0px ;
}
.txt_12 {
	font-size: 12px;
	color: #333333;
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
}
.celdalabelSeparador {
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	background-color: #F3F3F3;
	border-bottom-width: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
a:link { font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color:  #3366CC }
a:visited { font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color: #3366CC }
a:hover {  font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color: #FF0000 }
.lineablanca {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.input
{
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	border-color: #999999 #CCCCCC #CCCCCC #999999;
	border-style: solid;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 2px;
}
.txtCopy
{
	font-size: 11px;
	font-weight: normal;
	color: #999999;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 6px;
	vertical-align: bottom;
}
.txt_destacado
{
	font-size: 14px;
	font-weight: bold;
	color: #3366CC;
}
.tabla_resultado
{
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	background-color: #F5F5F5;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-top: 3px solid #00b4ab;
	border-right: 1px solid #00b4ab;
	border-bottom: 2px solid #00b4ab;
	border-left: 1px solid #00b4ab;
}
.txt_rojo
{
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
}

.celdamenuBienvenido
{
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	border-color: #CCCCCC;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.txt_label
{
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-align: right;
	padding-right: 5px;
}
.celdalabel
{
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	background-color: #F3F3F3;
	border-bottom-width: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.tabla_grilla
{
	border: 1px #adc2eb solid;
}
.grilla_top
{
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #2175d9;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	clip: rect(   );
	border-right-width: 1px;
	border-bottom-width: 1px;
	padding-right: 2px;
	padding-left: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
.grilla_Fila1
{
	font-size: 10px;
	font-weight: normal;
	color: #4C4C4C;
	background-color: #FFFFFF;
	border-color: #adc2eb;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	padding-left: 2px;
	padding-top: 2px;
	text-align:justify;
}
.grilla_Fila2
{
	font-size: 10px;
	font-weight: normal;
	color: #4C4C4C;
	background-color: #D2E3F9;
	border-color: #adc2eb;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	padding-left: 2px;
	padding-top: 2px;
	text-align: justify;
}
.txt_bold
{
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}
.tabla800
{
	width: 760px;
}

.celdaTitulos
{
	border-color: #00CCCC;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	font-size: 15px;
	font-weight: bold;
	color: #3366CC;
	padding-top: 10px;
	text-align: left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.txt_azul10Right
{
	font-size: 10px;
	color: #0066CC;
	text-align: right;
	padding-top: 2px;
	padding-right: 25px;
}
.separador
{
	background-image: url(../IMG/separador.gif);
	background-repeat: repeat-x;
	height: 6px;
}
.celda_amarillaMensajes
{
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	background-color: #FEFBD3;
	text-align: left;
	padding-bottom: 5px;
	padding-top: 2px;
}
.celdaMenuSinFondo
{
	font-size: 10px;
	color: #3366cc;
	text-align: left;
	padding-left: 3px;
	border-right-width: 1px;
	border-left-width: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #00b4ab;
	border-left-color: #00b4ab;
}
.Contenido
{
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	background-color: #FFFFFF;
	width: 744px;
}