a:visited 	 {color:#005680; font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 10px; font-weight: normal; font-style: normal; text-decoration: none?, Direction=?, Strength=?)}		
TD {font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size:10px; color:#444444; line-height: normal}
a:active { color:#00A3F0; font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 10px; font-weight: normal; text-decoration: none}
a:hover { color:#00A3F0; font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 10px; font-weight: normal; text-decoration: none}
a:link { color:#005680; font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 10px; font-weight: normal; font-style: normal; text-decoration: none}
.txt_label
{
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-align: right;
	padding-right: 5px;
}
.celdalabel
{
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	background-color: #F3F3F3;
	border-bottom-width: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.tabla_grilla
{
	border: 1px #adc2eb solid;
}
.grilla_top
{
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #2175d9;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	clip: rect(   );
	border-right-width: 1px;
	border-bottom-width: 1px;
	padding-right: 2px;
	padding-left: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
.grilla_Fila1
{
	font-size: 10px;
	font-weight: normal;
	color: #4C4C4C;
	background-color: #FFFFFF;
	border-color: #adc2eb;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	padding-left: 2px;
	padding-top: 2px;
}
.grilla_Fila2
{
	font-size: 10px;
	font-weight: normal;
	color: #4C4C4C;
	background-color: #D2E3F9;
	border-color: #adc2eb;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	padding-left: 2px;
	padding-top: 2px;
}
.txt_general
{
	font-size: 11px;
	color: #666666;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 0px;
}
.TituloPrincipal {
	font-size: 17px;
	font-weight: bold;
	color: #00B4AB;
	padding-bottom: 5px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}